{{#each recipes as |recipe|}}
{{log recipe}}
  <section data-id="{{recipe.id}}">
    <h3>
      {{recipe.name}}
    </h3>
    <h5>
      {{recipe.id}}
    </h5>

    <h6>Ingredients:</h6>
    <p>
      {{recipe.ingredient}}
    </p>

    <h6>Description:</h6>
    <p>
      {{recipe.description}}
    </p>
    <img src="public/recipe/{{recipe.name}}.JPG" alt="RECIPE Picture" height="200px" width="300px">

    <button data-id="{{recipe.id}}" class="delete-recipe">Delete Recipe</button>

  </section>

{{/each}}
