{{#each recipes as |recipe|}}

  <section data-id="{{recipe.id}}">
    <h3>
      {{recipe.name}}
    </h3>
    <h5>
      {{recipe.id}}
    </h5>

    <h6>Ingredients:</h6>
    <p>
      {{recipe.ingredient}}
    </p>

    <h6>Description:</h6>
    <p>
      {{recipe.description}}
    </p>
    {{#if recipe.name.exists}}
       <img src="public/recipe/{{recipe.name}}.JPG" height="200px" width="300px">}}
     {{else}}
       No img provided.
     {{/if}}

    <button data-id="{{recipe.id}}" class="delete-recipe">Delete Recipe</button>

  </section>

{{/each}}
